
<!-- Header 17 -->
<section class="w-full text-gray-700 bg-white">

    <div class="px-8 mx-auto max-w-7xl lg:px-16">
        <!-- Top Nav -->
        <div class="flex flex-col flex-wrap items-center justify-between py-10 mx-auto md:flex-row max-w-7xl">

            <a href="#_" class="flex items-center justify-center w-12 h-12 mb-5 transform bg-gray-900 rounded-full lg:mb-0 -rotate-12">
                <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 39 15" xmlns="http://www.w3.org/2000/svg"><path d="M11.252 1.152C4.184 2.526.454 6.918.061 14.329c1.963-4.049 4.798-5.975 8.503-5.778 2.115.112 3.84 1.295 5.75 2.603 3.11 2.133 6.712 4.601 13.281 3.324 7.068-1.374 10.798-5.766 11.191-13.177-1.963 4.049-4.798 5.975-8.503 5.779-2.115-.113-3.84-1.296-5.75-2.604-3.11-2.133-6.712-4.601-13.281-3.324z" fill-rule="evenodd"></path></svg>
            </a>

            <div class="relative flex flex-col md:flex-row">
                <nav class="flex flex-wrap items-center pt-3 pb-5 mb-4 space-x-5 text-base border-b border-gray-200 md:space-x-12 md:pt-0 md:mb-0 md:border-b-0 md:pr-3 md:mr-3 md:pb-0">
                    <a href="#_" class="font-medium leading-6 text-gray-800 hover:text-gray-900">Home</a>
                    <a href="#_" class="font-medium leading-6 text-gray-800 hover:text-gray-900">Features</a>
                    <a href="#_" class="font-medium leading-6 text-gray-800 hover:text-gray-900">Pricing</a>
                    <a href="#_" class="font-medium leading-6 text-gray-800 md:mr-6 hover:text-gray-900">Blog</a>
                </nav>
            </div>
        </div>
        <!-- End Top Nav -->


        <div class="relative flex flex-col items-center lg:flex-row">
            <div class="flex justify-start w-full md:py-12 lg:py-32 lg:w-1/3">
                <div class="flex flex-col items-center justify-center w-full lg:items-start lg:max-w-lg">
                    <p class="inline-block mb-4 text-xs font-medium tracking-wider text-green-400 uppercase" data-primary="green-400">
                        Build. Design. Launch.
                    </p>
                    <h5 class="text-6xl font-thin leading-none text-center mb-7 lg:text-left md:text-7xl">
                        <span class="block">Expertly</span>
                        <span class="block font-bold">Crafted</span>
                    </h5>
                    <button type="submit" class="inline-flex items-center justify-center px-8 py-4 mr-6 text-xl font-medium tracking-wide text-white transition duration-200 bg-green-400 hover:bg-green-500 focus:shadow-outline focus:outline-none" data-primary="green-400" data-rounded="">
                        Get started
                    </button>
                </div>
            </div>
            <div class="relative w-full h-auto pt-16 lg:w-2/3">
                <img src="https://cdn.devdojo.com/images/november2022/header-right-graphic.png" class="w-full h-auto" />
            </div>
        </div>

    </div>

    <div class="items-center w-full h-auto py-12 bg-green-400 lg:-mt-16" data-primary="green-400">
        <div class="flex mx-auto max-w-7xl lg:px-16">
            <div class="flex flex-col items-center w-full pr-5 lg:w-1/3 lg:flex-row">
                <p class="w-full mb-5 text-base text-center text-green-600 lg:text-left lg:w-48 lg:mb-0" data-primary="green-400">Start crafting your next great idea today!</p>
                <a href="#_" class="flex-shrink-0 px-4 py-3 text-white bg-green-500 border-green-700" data-primary="green-400" data-rounded="">Try It Now</a>
            </div>
            <div class="hidden w-2/3 lg:block"></div>
        </div>
    </div>


</section>
